In [1]:
import pandas as pd
from datetime import datetime
from datetime import timedelta
import time

In [2]:
path_to_data = "/home/raph/Downloads/"
training = pd.read_csv(path_to_data+"training.csv")

In [3]:
training.head()

,msno,actual_amount_paid,actual_amount_paid_x,actual_amount_paid_y,bd,city,gender,is_auto_renew,is_auto_renew_x,is_auto_renew_y,...,plan_list_price_x,plan_list_price_y,price_per_day,registered_via,registration_init_time,total_number_of_transactions,transaction_date,transaction_date_x,transaction_date_y,usual_price_per_day
0,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,149.0,149.0,149.0,26,15,0,1.0,1.0,1.0,...,149.0,149.0,4.965012,9,2010-11-18,19,0.0,2015-05-31,2017-02-28,788.321936
1,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,149.0,149.0,149.0,-1,1,-1,1.0,1.0,1.0,...,149.0,149.0,4.965012,7,2014-09-27,26,0.0,2016-01-26,2017-03-26,577.508651
2,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,149.0,149.0,149.0,21,18,0,1.0,1.0,1.0,...,149.0,149.0,4.965012,7,2016-03-15,12,0.0,2016-08-15,2017-03-15,4.662781
3,++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=,149.0,149.0,149.0,32,22,0,1.0,1.0,1.0,...,149.0,149.0,4.804902,9,2012-01-22,19,0.0,2015-03-31,2017-02-28,788.321936
4,++/ZHqwUNa7U21Qz+zqteiXlZapxey86l6eEorrak/g=,149.0,149.0,149.0,39,13,0,1.0,1.0,1.0,...,0.0,149.0,14900.000000,3,2014-04-21,21,0.0,2015-06-30,2017-02-28,4258.495954

In [4]:
training.describe()

,actual_amount_paid,actual_amount_paid_x,actual_amount_paid_y,bd,city,gender,is_auto_renew,is_auto_renew_x,is_auto_renew_y,is_cancel,...,payment_plan_days_x,payment_plan_days_y,plan_list_price,plan_list_price_x,plan_list_price_y,price_per_day,registered_via,total_number_of_transactions,transaction_date,usual_price_per_day
count,886759.000000,839144.000000,839144.000000,886759.000000,886759.000000,886759.000000,886759.000000,839144.000000,839144.000000,886759.000000,...,839144.000000,839144.000000,886759.000000,839144.000000,839144.000000,886759.000000,886759.000000,886759.000000,886759.0,886759.000000
mean,142.717935,139.787151,145.362073,11.822406,5.335633,-0.387685,0.873187,0.895249,0.914644,0.014571,...,30.375574,33.766811,134.507495,131.320826,145.626780,1037.149414,6.079682,17.170753,0.0,469.655583
std,128.228256,115.169541,135.351035,16.306771,6.509390,0.794360,0.332764,0.306232,0.279411,0.119828,...,27.275709,31.268238,131.421220,118.853251,135.253835,4175.730132,3.068195,7.860731,0.0,1184.753992
min,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,1.000000,0.0,0.000000
25%,99.000000,99.000000,99.000000,-1.000000,1.000000,-1.000000,1.000000,1.000000,1.000000,0.000000,...,30.000000,30.000000,99.000000,99.000000,99.000000,3.298900,4.000000,11.000000,0.0,3.174603
50%,149.000000,149.000000,149.000000,-1.000000,1.000000,-1.000000,1.000000,1.000000,1.000000,0.000000,...,30.000000,30.000000,149.000000,149.000000,149.000000,4.965012,7.000000,18.000000,0.0,4.662781
75%,149.000000,149.000000,149.000000,26.000000,12.000000,0.000000,1.000000,1.000000,1.000000,0.000000,...,30.000000,30.000000,149.000000,149.000000,149.000000,4.965012,9.000000,25.000000,0.0,577.508651
max,2000.000000,2000.000000,2000.000000,99.000000,22.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,450.000000,450.000000,2000.000000,2000.000000,2000.000000,178800.000000,13.000000,244.000000,0.0,88957.213930

In [5]:
training.columns

Index(['msno', 'actual_amount_paid', 'actual_amount_paid_x',
       'actual_amount_paid_y', 'bd', 'city', 'gender', 'is_auto_renew',
       'is_auto_renew_x', 'is_auto_renew_y', 'is_cancel', 'is_cancel_x',
       'is_cancel_y', 'is_churn', 'membership_expire_date',
       'membership_expire_date_x', 'membership_expire_date_y',
       'payment_method_id', 'payment_method_id_x', 'payment_method_id_y',
       'payment_plan_days', 'payment_plan_days_x', 'payment_plan_days_y',
       'plan_list_price', 'plan_list_price_x', 'plan_list_price_y',
       'price_per_day', 'registered_via', 'registration_init_time',
       'total_number_of_transactions', 'transaction_date',
       'transaction_date_x', 'transaction_date_y', 'usual_price_per_day'],
      dtype='object')